name: build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'mkdocs.yml'
    branches: [ master ]
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'mkdocs.yml'
    branches:
      - 'master'
      - 'release/**'
env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx8g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
  
jobs:
  lint_check:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - name: API check
        run: ./gradlew ktLintCheck
      - name: 'Notify on failure'
        if: failure()
        run: echo "Format check failed. Run ./gradlew ktLintFormat to fix."
  api_check:
    name: API check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - name: API check
        run: ./gradlew apiCheck
      - name: 'Notify on failure'
        if: failure()
        run: echo "Format check failed. Run ./gradlew apiDump to fix."
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Cache Gradle and wrapper
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-    
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build and test with Gradle
        run: ./gradlew licensee :ktorfit-annotations:publishToMavenLocal :ktorfit-compiler-plugin:test :ktorfit-ksp:test :ktorfit-lib-core:jvmTest :ktorfit-converters:call:publishToMavenLocal :ktorfit-converters:flow:publishToMavenLocal :ktorfit-converters:response:publishToMavenLocal
