name: Preview documentation

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'pyproject.toml'

concurrency:
  group: gh-pages-deploy
  cancel-in-progress: false

jobs:
  preview_docs:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    env:
      TERM: dumb

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
          fetch-depth: 0      # Fetch all history for .GitInfo and .Lastmod
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.14'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip     # install pip
          python3 -m pip install mkdocs            # install mkdocs 
          python3 -m pip install mkdocs-material   # install material theme
          python3 -m pip install mkdocs-git-revision-date-localized-plugin
          python3 -m pip install mkdocs-minify-plugin
          python3 -m pip install mkdocs-macros-plugin

      - name: Build documentation
        if: github.event.action != 'closed'
        run: mkdocs build

      - name: Deploy PR preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./site/
